<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="tech blogs, top headlines,hot, hacker news, ycombinator, reddit, lifehacker,techcrunch, mashable, makeuseof, readwriteweb, redmondpie" />
	<meta name="description" content="headlines of popular tech blogs" />
	
  <title>whats nerdy</title>
  <% stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <%= stylesheet_link_tag '978', :media =>'screen' %>
  <%= stylesheet_link_tag 'custom', :media =>'screen' %>
     
  <%= csrf_meta_tag %>
  <!-- font for logo use.fonterie.com -->
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'> 
  
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> 

<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>


  <!--javscript for sliding page  -->
  <%= javascript_include_tag 'sliding' %>
</head>
<body>
<a name="top"></a>
<%= yield %>

</body>


</html>
