<!DOCTYPE html>
<html>
<head>
  <title>Yuhu</title>
  <% stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  <%= stylesheet_link_tag '978', :media =>'screen' %>
  <%= stylesheet_link_tag 'custom', :media =>'screen' %>
     
  <%= csrf_meta_tag %>
  <!-- font for logo use.fonterie.com -->
  <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'> 
  <style> #logo{ font-size: 30px; position: absolute; 
	top:0 ;
	left: 50px;
	
	color: #a20640; font-family: 'Love Ya Like A Sister',cursive; text-shadow: none;} </style>

  <!-- use for title page i.e. reddit, hackernews -->
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> <style> #h3{ color: 4996ee; font-family: 'Ubuntu',sans-serif; text-shadow: rgb(255, 255, 255) 5px 5px 0px;} </style>


  <!--javscript for sliding page  -->
  <%= javascript_include_tag 'sliding' %>
</head>
<body>
<a name="top"></a>
<%= yield %>

</body>


</html>
